{{component toolbarComponent
  changePage=(action 'changePage')
  search=(action 'search')
  zoom=(action 'zoom')
  page=pdfPage
  class="ember-pdf-js toolbar"
}}
<div class="pdfViewerContainer">
  <div class="pdfViewer">
  </div>
</div>
