
{{component toolbarComponent
  changePage=(action 'changePage')
  changeSearchResult=(action 'changeSearchResult')
  goToMatch=(action 'goToMatch')
  search=(action 'search')
  zoom=(action 'zoom')
  page=pdfPage
  pageTotal=pdfTotalPages
  class="ember-pdf-js toolbar"
  currentMatch=currentMatch
  currentMatchIdx=currentMatchIdx
  matchTotal=matchTotal
  searchResultContexts=searchResultContexts
}}
<div class="pdfViewerContainer">
  <div class="pdfViewer">
  </div>
</div>
{{!--
{{log 'searchResults -> ' searchResultContexts}}
{{#each searchResultContexts as |context|}}
  {{log 'context -> ' context}}
{{/each}}
--}}
